

.navbar a {
  padding-left: 20px;
  font-size: 200%;
}

.navbar {
  margin-bottom: 50px;
  background-color: orange;
}

.scores {
    font-size: 300%;
    background-color: brown;
    text-align: center;
    margin-top: 50px;
}

.score-info {
  background-color: orange;
}

#one-pointer {
  margin-top: 100px;
}