body {
  font-family: 'Anton', sans-serif;
  text-align: center;
  background-color: black;
}

.navbar a {
  padding-left: 20px;
  font-size: 200%;
}

.navbar {
  margin-bottom: 50px;
  background-color: orange;
}

.scores {
    font-size: 300%;
    background-color: rgb(187, 73, 73);
    text-align: center;
    margin-top: 30px;
}

#block {
  padding-top: 100px;
}

.score-info {
  background-color: orange;
}

.btn {
  background-color: orange;
  text-align: center;
}

h2 {
  color: orange;
}

#reset {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}